<div class="container my-5">
  <h1 class="text-center">Perfil de usuario</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <strong>Nombre:</strong> <%= @user.first_name %> <%= @user.last_name %>
          </p>
          <p class="card-text">
            <strong>Dirección:</strong> <%= @user.address %>
          </p>
          <p class="card-text">
            <strong>Fecha de nacimiento:</strong> <%= @user.birth_date %>
          </p>
          <%= link_to "Your Stores", stores_path, class: "btn btn-primary" %>
          <%= link_to "New Store", new_store_path, class: "btn btn-primary" %>
          <%= link_to "Your products", cocktails_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
