<h1>Every Cocktail</h1>
<% @cocktails.each do |cocktail| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= cocktail.name %></h5>
      <p class="card-text"><%= cocktail.description %></p>
      <p class="card-text"><%= cocktail.ingredients %></p>
      <p class="card-text"><%= cocktail.store_id %></p>
      <p><%= link_to "Details",  cocktail_path(cocktail.id), class: "btn btn-primary" %></p>

          <% if user_signed_in? %>
            <% if current_user.id == cocktail.store.user_id %>
              <%= link_to @cocktail,  method: :delete, data: { turbo_method: :delete} do %>
                <i class="fa-regular fa-trash pe-3"></i>
              <% end %>

              <%= link_to edit_cocktail_path(cocktail.id) do %>
                <i class="fa-solid fa-pen-to-square color-icon.header"></i>
              <% end %>
            <% end %>
          <% end %>
    </div>
  </div>
<% end %>
