<%# <div data-controller="price">
  <input type="text" data-price-target="price">
  <button data-action="input->price#formatCurrency">Format Currency</button>
</div> %>
<input type="text" id="price" data-controller="priceformat" data-priceformat-target="price">

<div class="d-flex align-items-center justify-content-center">
  <div class="text-center" data-controller="priceformat">
    <h1>New cocktail product</h1>
    <%=  simple_form_for @cocktail, url: store_cocktails_path(store_id: @store), method: :post do |f| %>
      <div class="form-group">
        <%= f.input :name, placeholder: 'Enter name', class: "form-control" %>
      <div class="form-group">
        <%= f.input :ml, placeholder: 'Enter ml', class: "form-control" %>
      </div>
      </div>
      <div class="form-group">
        <%= f.input :ingredients, placeholder: 'Enter ingredients', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :description, placeholder: 'Enter description', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :price, placeholder: 'Enter price', class: "form-control", data: { target: "priceformat.price", action: "input->priceformat#formatCurrency" }%>
      </div>
      <div class="form-group">
        <%= f.input :status, placeholder: 'Enter status', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.input :discount, placeholder: 'Enter discount', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Select what kind of cocktail it is:"%> <br>
        <%= f.collection_select :category_id, Category.order(:name), :id, :name  %>
      </div>
      <div class="form-group">
        <%= f.input :photo, as: :file %>
      </div>
        <%= f.submit "submit", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div>
    <%= link_to image_tag("https://images.unsplash.com/photo-1571950006418-f226dc106482?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", class: "img-fluid") %>
  </div>
</div>
