<%# <div data-controller="price">
  <input type="text" data-price-target="price">
  <button data-action="input->price#formatCurrency">Format Currency</button>
</div> %>

<div class="background-image">
  <h3>New cocktail product</h3>
  <div class="container" data-controller="priceformat">
      <%=  simple_form_for @cocktail, url: store_cocktails_path(store_id: @store), method: :post do |f| %>
        <div class="div1">
          <div class="form-group">
            <%= f.input :name, placeholder: 'Enter name', class: "form-control", label: false%>
          </div>
          <div class="form-group">
            <%= f.input :price, placeholder: 'Enter price', class: "form-control", data: { target: "priceformat.price", action: "input->priceformat#formatCurrency" }, label: false%>
          </div>
          <div class="form-group">
            <%= f.input :ml, placeholder: 'Enter ml', class: "form-control", label: false %>
          </div>
          <div class="form-group">
            <%= f.input :ingredients, placeholder: 'Enter ingredients', class: "form-control", label: false %>
          </div>
        </div>

        <div class="div2">
          <div class="form-group">
            <%= f.input :description, placeholder: 'Enter description', class: "form-control", label: false %>
          </div>

          <div class="form-group">
            <%= f.input :status, placeholder: 'Enter status', class: "form-control", label: false %>
          </div>
          <div class="form-group">
            <%= f.input :discount, class: "form-control", label: false %>
          </div>
          <div class="form-group">
            <%= f.label "Select what kind of cocktail it is:"%> <br>
            <%= f.collection_select :category_id, Category.order(:name), :id, :name  %>
          </div>
          <div class="form-group">
            <%= f.input :photo, as: :file %>
          </div>
        </div>
          <%= f.submit "submit", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
