<div class="cocktail-show">
    <div>
      <%=image_tag(@cocktail.photo, class:"cocktail-image")%>
    </div>

    <div class="cocktail-info">
        <h1><%= @cocktail.name %></h1>
      <div class="cocktail-info1">
        <h3>Store: <span><%= @cocktail.store.name %></span></h3>
        <h3>Volume: <span><%= @cocktail.ml %> ml</span></h3>
        <h3>Status: <span class="status"><%= @cocktail.status ? 'In stock' : 'Sold out' %></span></h3>
      </div>

        <hr>
      <div class="cocktail-info2">
        <h3>Price: $ <span><%= @cocktail.price %></span></h3>
        <h3>Discount: <span><%= @cocktail.discount %></span>%</h3>
        <h3>Discounted Price: $ <span class="discount"><%= (@cocktail.price * (1 - @cocktail.discount/100)).round(2) %></span></h3>
      </div>
        <hr>
        <h3>Category: <%= @cocktail.category.name %></h3>
        <br>
        <h2>Ingredients:</h2>
        <p><%= @cocktail.ingredients %></p>
        <h2>Description:</h2>
        <p><%= @cocktail.description %></p>
    </div>
</div>
