<div class="container my-5">
  <h1 class="text-center">All your stores</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <% @stores.each do |store|%>
            <p class="card-text">
              <strong>Nombre:</strong> <%= store.name %>
            </p>
            <p class="card-text">
              <strong>Dirección:</strong> <%= store.address %>
            </p>
            <p class="card-text">
              <strong>Opening time:</strong> <%= store.time_open %>
            </p>
            <p class="card-text">
              <strong>Closing time:</strong> <%= store.time_close %>
            </p
            <p>
            <%= link_to "New product", new_store_cocktail_path(store.id), class: "btn btn-primary" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
