<div class="background-image-stores">
  <div class="container" data-controller="verificador">
  <h3>New Store</h3>
    <%= simple_form_for @store do |f| %>
      <div class="form-group">
        <%= f.input :name, placeholder: 'Enter name', class: "form-control", label: false %>
      </div>
      <div class="form-group">
        <%= f.input :address, placeholder: 'Enter address', class: "form-control", label: false %>
      </div>
      <div class="div1">
        <div class="form-group">
          <%= f.label "Opening time"%> <br>
          <%= f.input :time_open, class: "form-control", label: false %>
        </div>
      </div>
      <div class="div2">
        <div class="form-group">
          <%= f.label "Ending time"%> <br>
          <%= f.input :time_close, class: "form-control", label: false %>
        </div>
      </div>
      <div class="div3">
        <%= f.submit "Create", class: "buy-btn" %>
      </div>
    <% end %>
  </div>
</div>
