<footer class="footer-container">
  <div class="column-footer">
    <div class="navbar">
      <a href="#" class="nav-item">
        <li>Menu-Drinks</li>
      </a>
      <a href="#" class="nav-item">
        <li>Shop</li>
      </a>
      <a href="#" class="nav-item">
        <li>Contact us</li>
      </a>
    </div>

    <div class="social-media">
      <li>
        <%= link_to image_tag("facebook", alt: "", class: "discount-cocktails"), "https://www.facebook.com/", class: "social-item", target: "_blank" %>
      </li>
      <li>
        <%= link_to image_tag("twitter", alt: "", class: "discount-cocktails"), "https://www.twitter.com/", class: "social-item", target: "_blank" %>
      </li>
      <li>
        <%= link_to image_tag("instagram", alt: "", class: "discount-cocktails"), "https://www.instagram.com/", class: "social-item", target: "_blank" %>
      </li>
      <li>
        <%= link_to image_tag("youtube", alt: "", class: "discount-cocktails"), "https://www.youtube.com/", class: "social-item", target: "_blank" %>
      </li>
    </div>

    <div class="payments">
      <li>
        <%= image_tag "payment1", alt: "", class: "item" %>
      </li>
      <li>
        <%= image_tag "payment2", alt: "", class: "item" %>
      </li>
      <li>
        <%= image_tag "payment3", alt: "", class: "item" %>
      </li>
      <li>
        <%= image_tag "payment4", alt: "", class: "item" %>
      </li>
      <li>
        <%= image_tag "payment5", alt: "", class: "item" %>
      </li>
      <li>
        <%= image_tag "payment6", alt: "", class: "item" %>
      </li>
      <li>
        <%= image_tag "payment7", alt: "", class: "item" %>
      </li>
      <li>
        <%= image_tag "payment8", alt: "", class: "item" %>
      </li>
    </div>
  </div>
  <div class="info-developer">
    <p class="developer">Developed by Sebastian Aristizabal with ❤</p>
    <p class="developer">Medellin | Colombia | 2023</p>
  </div>
</footer>
