<header class="container-head navbar-expand-lg">

    <nav class="navbar">
        <div class="container">
            <div class="brand">
              <%= link_to image_tag("logo6", alt: "", class: "logo"), root_path, class: "navbar-brand" %>
            </div>


            <div class="search-section">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn" type="submit">Search</button>
                </form>
              </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <%= link_to image_tag("shoppingcart.png", alt: "", class: "shopping-cart"), profile_path, class: "nav-link" %>
                    </li>
                  <% if !user_signed_in? %>
                    <li class="nav-item">
                      <%= link_to image_tag("user.png", alt: "", class: "login"), new_user_session_path, class: "nav-link" %>
                    </li>
                  <% else %>
                    <li class="nav-item">
                      <%= link_to image_tag("user.png", alt: "", class: "login"), profile_path, class: "nav-link" %>
                    </li>
                  <% end %>
                    <li class="nav-item">
                      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" do %>
                        <i class="fa-solid fa-right-from-bracket"></i>
                      <% end %>
                    </li>
                </ul>

            </div>


        </div>


    </nav>
    <div class="menu">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu-Drinks
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
            </li>

        </ul>
    </div>
</header>
